.sortButton {
  min-width: 40px;
}

.sortRadioGroup {
  width: 100%;
}

.sortRadioButton {
  display: grid;
  place-items: center;
  white-space: normal;
  height: auto;
  line-height: 1.3;
  padding-block: 6px;
}
