.adItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.topInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.adItemCarousel {
  max-width: 400px;
}

.adItemSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.adItemImage {
  max-width: 370px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* чтобы Antd slick не ломал выравнивание */
.adItemCarousel :global(.slick-slide) {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Цвет стрелок slick внутри Ant Carousel */
.adItemCarousel :global(.slick-prev::after),
.adItemCarousel :global(.slick-next::after) {
  color: var(--ant-color-text-heading) !important;
  font-size: 28px;
}

.adItemCarousel :global(.slick-prev:hover::after),
.adItemCarousel :global(.slick-next:hover::after) {
  color: var(--ant-color-text-heading) !important;
  opacity: 0.9;
}

.sellerPrice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.price {
  font-size: var(--app-font-xxl);
  font-weight: 700;
}

.descriptionText {
  font-size: var(--app-font-sm);
  margin-bottom: 0;
  line-height: 1.3;
}

@media (max-width: 740px) {
  .topInfo {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .adItemCarousel {
    max-width: 320px;
  }

  .adItemImage {
    max-width: 240px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}
