.adCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px 0 15px;
  gap: 20px;
}

.image {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  width: 100%;
}

.topInfo {
  display: flex;
  flex-direction: column;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  overflow-wrap: anywhere;
  word-break: break-word;
  font-size: var(--app-font-lg);
  line-height: 1;
}

.price {
  font-size: var(--app-font-md);
}

.tags {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.tag {
  height: fit-content;
  padding: 5px;
  margin: 0;
}

.bottomInfo {
  display: flex;
  justify-content: flex-end;
}

.category {
  font-size: var(--app-font-sm);
}

.openBtn {
  max-width: 250px;
  margin-top: 8px;
}

.rightInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 160px;
  gap: 5px;
}

.date {
  font-size: var(--app-font-sm);
}

@media (max-width: 740px) {
  .adCard {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .header {
    flex-direction: column;
  }

  .rightInfo {
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
  }

  .openBtn {
    max-width: 100%;
  }

  .tags {
    gap: 5px;
  }
}

@media (max-width: 410px) {
  .rightInfo {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* --- SKELETON --- */

.imageSkeletonWrapper {
  display: grid;
  place-items: center;
}

.imageSkeleton {
  width: 233px;
  height: 160px;
}

.skeletonTitle {
  width: 60%;
  margin-bottom: 8px;
  height: 24px;
}

.skeletonPrice {
  width: 35%;
  height: 30px;
}

.skeletonCategory {
  width: 40%;
  margin-bottom: 8px;
  height: 32px;
}

.skeletonButton {
  width: 140px;
  margin-top: 8px;
  height: 36px;
}

.skeletonTag {
  width: 70px;
  height: 32px;
}

.skeletonDate {
  width: 160px;
}

@media (max-width: 740px) {
  .skeletonTitle {
    width: 100%;
  }

  .skeletonPrice {
    width: 50%;
  }

  .skeletonCategory {
    width: 60%;
  }

  .skeletonDate {
    width: 70%;
  }
}
